PORT=7000
NODE_ENV=development

MONGODB_URI=mongodb+srv://WashMateAdmin:VMUSLeckWclQfg7c@washmate.qk8szio.mongodb.net/washmate

CLIENT_URL=http://localhost:3000

JWT_SECRET=ee85881ccb8cac44768a4ae35c12e53eb1ccc368667b1c13d0bf228e860daf3f
JWT_EXPIRES_IN=7d
